<div class="row">
  <div class="col-sm-3">
    Search by category: <select ng-model="searchCategory" id="searchByCategory">
      <option value="">No category</option>
      <option ng-repeat="option in view.category" value="{{option}}">{{option}}</option>
    </select>
  </div>
  <div class="col-sm-3">
    Search by name: <input type="text" ng-model="search">
  </div>
  <div class="col-sm-6 text-right">
    <a href="#/cart"><ng-pluralize ng-model="itemCount" class="btn orange" count="itemCount"
                           when="{'0': 'Checkout | Your shopping cart is empty!',
                                  '1': 'Checkout | You have 1 item in your shopping cart',
                                  'other': 'Checkout | You have {{itemCount}} items in your shopping cart'}"></ng-pluralize></a>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th></th>
    </tr>
    <tr ng-repeat="tea in view.teaList | filter:{categories: searchCategory, name: search }">
      <td class="col-md-2"><img src="{{tea.imageUrl}}" alt=""></td>
      <td class="col-md-7">
        <h4>{{tea.name}}</h4>
        <p><i>Fresh from the foothills of Xianguo prefecture, this refreshing blend is perfect for an autumn morning. </i></p>
        <p>Price: {{(tea.price / 100) | currency}}</p>
        <p>Caffeine Scale: {{tea.caffeineScale}}</p>
        <p>Ingredients: {{tea.ingredients}}</p>
        <p>Rating: {{tea.rating}}</p>
        <p>In stock: {{tea.inStock}}</p>
        <p>Categories: <span ng-repeat="category in tea.categories">{{category}} | </span></p>
      </td>
      <td class="col-md-3 text-right">Qty: <input class="numberInput" ng-model="number" type="number"><div ng-click="addAndUpdate(tea, number)" class="btn bg-primary">Add to cart</div></td>
    </tr>
  </table>
</div>
</div>
