<div class="row">
  <div class="col-sm-3">
    Search by category: <select name="heyo" ng-model="searchCategory" id="searchByCategory" value="Hello">
      <option ng-repeat="option in view.category" value="{{option}}">{{option}}</option>
    </select>
  </div>
  <div class="col-sm-3">
    Search by name: <input type="text" ng-model="search">
  </div>
  <div class="col-sm-3 pull-right">
    <a href="#/cart"><div class="btn btn-primary">Checkout | Shopping Cart : Empty!</div></a>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{view.category}}</div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th></th>
    </tr>
    <tr ng-repeat="tea in view.teaList | filter:{categories: searchCategory, name: search }">
      <td class="col-md-2"><img src="{{tea.imageUrl}}" alt=""></td>
      <td class="col-md-7">
        <h4>{{tea.name}}</h4>
        <p><i>Fresh from the foothills of Xianguo prefecture, this refreshing blend is perfect for an autumn morning. </i></p>
        <p>Price: {{(tea.price / 100) | currency}}</p>
        <p>Caffeine Scale: {{tea.caffeineScale}}</p>
        <p>Ingredients: {{tea.ingredients}}</p>
        <p>Rating: {{tea.rating}}</p>
        <p>In stock: {{tea.inStock}}</p>

        <p>Categories: <span ng-repeat="category in tea.categories">{{category}} | </span></p>
      </td>
      <td class="col-md-3 text-justify"><input class="col-md-6" type="number"><div class="col-md-5 btn bg-primary">Button</div></td>
    </tr>
  </table>
</div>
</div>
